<div class="row">

  <div class="col-xs-12 create-content">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup" [editable]="!tokenDetails">
      
          <form [formGroup]="firstFormGroup">
      
            <ng-template matStepLabel>Token Details</ng-template>
      
            <mat-form-field class="w-100" >
      
              <mat-label>Token Contract Address</mat-label>
      
              <input class="mb-3" matInput placeholder="Token Address" formControlName="tokenAddress" required>
              <mat-hint> Create Pool Fee:  0.2 {{baseTokenSymbol}} </mat-hint>
            </mat-form-field>
            <br/>
            

      
            <br/> <br/>

            <dl *ngIf="tokenDetails">
                <dt>Name</dt>
                <dd>{{tokenDetails.name}}</dd>

                <dt>Symbol</dt>
                <dd>{{tokenDetails.symbol}}</dd>

                <dt>Decimals</dt>
                <dd>{{tokenDetails.decimals}}</dd>
            </dl>
      
            <br/>
      
            <div>
      
              <button mat-button color="primary" matStepperNext [disabled]="firstFormGroup.invalid || !tokenDetails" >Next</button>
      
            </div>
      
          </form>
      
        </mat-step>
      
        <mat-step [stepControl]="secondFormGroup">
      
          <form [formGroup]="secondFormGroup">
      
            <ng-template matStepLabel>Sale Details</ng-template>
      
            <mat-form-field class="w-100">
      
              <mat-label>Pre Sale rate</mat-label>
      
              <input matInput placeholder="100" formControlName="presalerate" required>
              <mat-hint>How many {{ tokenDetails?.symbol }} tokens will 1 {{baseTokenSymbol}} get me? </mat-hint>
            </mat-form-field>

            
      
            <br/>
      
            <mat-form-field class="w-45 ">
      
              <mat-label>Soft Cap ({{baseTokenSymbol}})</mat-label>
      
              <input matInput placeholder="0" formControlName="softcap" required [min]="1">
      
            </mat-form-field>

            <mat-form-field class="w-50 ">
      
                <mat-label>Hard Cap ({{baseTokenSymbol}})</mat-label>
        
                <input matInput placeholder="0" formControlName="hardcap" required>
                
                <mat-hint>Hard Cap can only be a max of x3 the Soft cap </mat-hint>

                <mat-error >                  
                    <span *ngFor="let error of secondFormGroup.get('hardcap')?.errors|keyvalue">
                        {{validationMessages.hardcap[error.key]}}
                    </span>
                </mat-error>
              </mat-form-field>
      
            <br/>

            <mat-form-field class="w-45 ">
      
                <mat-label>Minimum Buy Size ({{baseTokenSymbol}})</mat-label>
        
                <input matInput placeholder="0" formControlName="minbuy" required>
    
            </mat-form-field>

            <mat-form-field class="w-50 ">
    
                <mat-label>Maximum Buy Size ({{baseTokenSymbol}})</mat-label>
        
                <input matInput placeholder="0" formControlName="maxbuy" required>
                <mat-error >                  
                    <span *ngFor="let error of secondFormGroup.get('maxbuy')?.errors|keyvalue">
                        {{validationMessages.maxbuy[error.key]}}
                    </span>
                </mat-error>
            </mat-form-field>
    
            <br/>

            <mat-form-field class="w-45 ">
      
                <mat-label>Liquidity (%)</mat-label>
        
                <input matInput placeholder="0" formControlName="liquidity" required>
    
            </mat-form-field>

            <mat-form-field class="w-50 ">
    
                <mat-label>Listing Rate ({{baseTokenSymbol}})</mat-label>
        
                <input matInput placeholder="0" formControlName="listingrate" required>
          
            </mat-form-field>
    
            <br/>

            <mat-form-field appearance="fill" class="w-75 mb-4">
                <mat-label>DEX Router</mat-label>
                <select matNativeControl required formControlName="router">
                  
                  <option value="ubeswap">UbeSwap</option>
                </select>
                <mat-error >                  
                    <span *ngFor="let error of secondFormGroup.get('router')?.errors|keyvalue">
                        {{validationMessages.router[error.key]}}
                    </span>
                </mat-error>
                <mat-hint>The Contract adress of the DEX Router </mat-hint>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill" class="w-45">
                <mat-label>Start date</mat-label>
                <input matInput [ngxMatDatetimePicker]="picker" formControlName="startDate" required>
                <mat-datepicker-toggle matSuffix [for]="pickerFixed"></mat-datepicker-toggle>
                <!-- <mat-datepicker #picker></mat-datepicker> -->
                <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                <mat-error >                  
                    <span *ngFor="let error of secondFormGroup.get('startDate')?.errors|keyvalue">
                      
                        {{validationMessages.startDate[error.key]}}
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class=" w-50 px-2">
                <mat-label>End date</mat-label>
                <input matInput [ngxMatDatetimePicker]="endpicker" formControlName="endDate" required [errorStateMatcher]="errorMatcher">
                <mat-datepicker-toggle matSuffix [for]="endPickerFixed"></mat-datepicker-toggle>
                <!-- <mat-datepicker #endpicker></mat-datepicker> -->
                <ngx-mat-datetime-picker #endpicker></ngx-mat-datetime-picker>

                <mat-error *ngIf="secondFormGroup.hasError('endDateLater')">
                  End Date cannot be later than start date!
                </mat-error>

                <mat-error >                  
                    <span *ngFor="let error of secondFormGroup.get('endDate')?.errors|keyvalue">
                        {{validationMessages.endDate[error.key]}}
                    </span>
                </mat-error>
            </mat-form-field>
              
            <br/><br/>
      
            <div>
      
              <button mat-button matStepperPrevious>Back</button>
      
              <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
      
            </div>
      
          </form>
      
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
      
            <form [formGroup]="thirdFormGroup">
        
              <ng-template matStepLabel>Owner Info</ng-template>

              <mat-form-field>
        
                <mat-label>Website</mat-label>
        
                <input matInput placeholder="" formControlName="website" required>
        
              </mat-form-field>

              <br/>
        
              <mat-form-field>
        
                <mat-label>Twitter Handle</mat-label>
        
                <input matInput placeholder="" formControlName="twitter" required>
        
              </mat-form-field>
        
              <br/>
        
              <mat-form-field>
        
                <mat-label>Telegram link</mat-label>
        
                <input matInput placeholder="Stock" formControlName="telegram" >
        
              </mat-form-field>

              

              <mat-form-field>
        
                <mat-label>Reddit</mat-label>
        
                <input matInput placeholder="" formControlName="reddit" >
        
              </mat-form-field>

              <br/>

              <mat-form-field>
        
                <mat-label>Description</mat-label>
        
                <textarea rows="4" matInput placeholder="" formControlName="desc" ></textarea>
        
              </mat-form-field>

              <br/>



              <mat-checkbox class="example-margin" >Accept Terms & Conditions</mat-checkbox>
        
              <br/>
        
              <div>
        
                <button mat-button matStepperPrevious>Back</button>
        
                <button mat-button matStepperNext [disabled]="thirdFormGroup.invalid">Next</button>
        
              </div>
        
            </form>
        
        </mat-step>
      
        <mat-step>
      
          <ng-template matStepLabel>Preview</ng-template>
      
          <h3>Preview your submissions.</h3>
          <!-- <h3>You will need.</h3> -->
      
        
      
          <mat-list *ngIf="tokenDetails">
            <!-- <mat-list-item> <strong>Presale Address:</strong> {{ tokenDetails.name }}</mat-list-item> -->
           <mat-list-item> <strong>Name:</strong> {{ tokenDetails.name }}</mat-list-item>
           <mat-list-item> <strong>Symbol:</strong> {{ tokenDetails.symbol }}</mat-list-item>
      
           <mat-list-item> <strong>Description:</strong> {{ this.thirdFormGroup.value.desc }}</mat-list-item>

           <mat-list-item> <strong>Token Decimals:</strong> {{ tokenDetails.decimals }}</mat-list-item>
      
           <mat-list-item> <strong>Token Address:</strong> {{ this.firstFormGroup.value.tokenAddress }}</mat-list-item>
      
           <mat-list-item> <strong>Presale rate:</strong> {{ this.secondFormGroup.value.presalerate }}</mat-list-item>
           <mat-list-item> <strong>Listing rate:</strong> {{ this.secondFormGroup.value.listingrate }}</mat-list-item>
      
           <mat-list-item> <strong>Soft Cap:</strong> {{ this.secondFormGroup.value.softcap }}</mat-list-item>
           <mat-list-item> <strong>Hard Cap:</strong> {{ this.secondFormGroup.value.hardcap }}</mat-list-item>

           <mat-list-item> <strong>Minimum Buy:</strong> {{ this.secondFormGroup.value.minbuy }}</mat-list-item>
           <mat-list-item> <strong>Maximum Buy:</strong> {{ this.secondFormGroup.value.maxbuy }}</mat-list-item>

           <mat-list-item> <strong>Liquidity Percent:</strong> {{ this.secondFormGroup.value.liquidity }}</mat-list-item>
           <!-- <mat-list-item> <strong>Liquidity Lockup period:</strong> {{ this.secondFormGroup.value.amount }}</mat-list-item> -->

           <mat-list-item> <strong>Presale Start Date:</strong> {{ this.secondFormGroup.value.startDate }}</mat-list-item>
           <mat-list-item> <strong>Presale End Date:</strong> {{ this.secondFormGroup.value.endDate }}</mat-list-item>

      
          </mat-list>
      
        
      
          <div>
      
            <button mat-button matStepperPrevious>Back</button>
      
            <button mat-button (click)="resetStepper(stepper)" color="danger">Reset</button>
      
            <button mat-button (click)="submit()" color="primary">Submit</button>
      
          </div>
      
        </mat-step>
      
      </mat-horizontal-stepper>


      

    

  </div>

</div>