/notes.txt
/ContractCode/build/contracts/Campaign.json
/ContractCode/build/contracts/ConfirmAddress.json
/ContractCode/build/contracts/Migration.json
/ContractCode/build/contracts/Migrations.json
/ContractCode/build/contracts/Ownable.json
/ContractCode/build/contracts/StorageSlot.json
/ContractCode/node_modules
/Dapp/node_modules
/ContractCode/build
/ContractCode/contracts/artifacts
/Z SALes Pitch Celo.pptx
/package-lock.json
/Capture2.JPG
/Capture.JPG
/zsale.png
