<div class="container-fluid">
    <div class="container">
        <!-- Token list and their progress -->
        <div class="row p-5" id="token-list">
            <!-- First col -->
            <div class="col-3 card pb-4" style="border-radius: 30; box-shadow: 10rem;">
                <label>Token Name:
                    <h5>Operatherium</h5>
                </label>
                <pre></pre>
                <label>
                    Token Symbol:
                    <p>OPTH</p>
                </label>
                <pre></pre>
                <label>
                    Decimal:
                    <p>19</p>
                </label>
                <pre></pre>
                <label>
                    totalSupply:
                    <p>100000000000000000</p>
                </label>
                <pre></pre>
                <button class="btn btn-info">Read More</button>
            </div>

            <!-- Second Col -->
            <div class="col-3 card pb-4" style="border-radius: 30; box-shadow: 10rem;">
                <label>Token Name:
                    <h5>Operatherium</h5>
                </label>
                <pre></pre>
                <label>
                    Token Symbol:
                    <p>OPTH</p>
                </label>
                <pre></pre>
                <label>
                    Decimal:
                    <p>19</p>
                </label>
                <pre></pre>
                <label>
                    totalSupply:
                    <p>100000000000000000</p>
                </label>
                <pre></pre>
                <button class="btn btn-info">Read More</button>
            </div>

            <!-- Third col -->
            <div class="col-3 card pb-4" style="border-radius: 30; box-shadow: 10rem;">
                <label>Token Name:
                    <h5>Operatherium</h5>
                </label>
                <pre></pre>
                <label>
                    Token Symbol:
                    <p>OPTH</p>
                </label>
                <pre></pre>
                <label>
                    Decimal:
                    <p>19</p>
                </label>
                <pre></pre>
                <label>
                    totalSupply:
                    <p>100000000000000000</p>
                </label>
                <pre></pre>
                <button class="btn btn-info">Read More</button>
            </div>

            <!-- fourth col -->
            <div class="col-3 card pb-4" style="border-radius: 30; box-shadow: 10rem;">
                <label>Token Name:
                    <h5>Operatherium</h5>
                </label>
                <pre></pre>
                <label>
                    Token Symbol:
                    <p>OPTH</p>
                </label>
                <pre></pre>
                <label>
                    Decimal:
                    <p>19</p>
                </label>
                <pre></pre>
                <label>
                    totalSupply:
                    <p>100000000000000000</p>
                </label>
                <pre></pre>
                <button class="btn btn-info">Read More</button>
            </div>

        </div>
    </div>
</div>