.ongoing-details .mat-list-item-content {
    font-size: 0.75rem;
}

.text-small{
    font-size: 0.75rem;
}


.mat-list-item strong{

    margin-right: 0.5rem;
    // padding-right: 2rem;
}


.form-donate{
    margin-top: 2rem;
    
}


// .text-left{
//     text-align: 
// }